.svg-html{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px orangered;
    display: block;
    margin: auto;
}
.svg-html:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px orangered;
}
.svg-css{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px rgb(3, 74, 167);
    display: block;
    margin: auto;
}
.svg-css:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px rgb(3, 74, 167);
}
.svg-js{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px rgb(255, 251, 0);
    display: block;
    margin: auto;
}
.svg-js:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px rgb(255, 251, 0);
}
.svg-bs{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px rgb(101, 1, 148);
    display: block;
    margin: auto;
}
.svg-bs:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px rgb(101, 1, 148);
}
.svg-react{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px rgb(0, 140, 255);
    display: block;
    margin: auto;
}
.svg-react:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px rgb(0, 140, 255);
}
.svg-tailwind{
    border: 2px solid whitesmoke;
    border-radius:15px;
    box-shadow: 2px 2px 2px rgb(3, 175, 132);
    display: block;
    margin: auto;
    padding: 5px;
}
.svg-tailwind:hover{
    transition: 0.5s;
    border-radius: 70px;
    box-shadow: 2px 2px 40px rgb(3, 175, 132);
}
